<% provide(:title, 'Home') %>
<div class="center">
<%= link_to image_tag("logo0.bmp", alt: "BestBay")%>

</div>
<%= link_to "New Post", new_path, class: "btn btn-success" %>
<% if signed_in? %>
  <%= link_to "Profile", current_user, class: "btn btn-success" %>
<% else %>
  <%= link_to "Sign Up", signup_path, class: "btn btn-success" %>
  <%= link_to "Sign In", signin_path, class: "btn btn-success" %>
<% end %>
<%= form_tag '/placeBids' do%>
<table class="table">
  <thead>
  <tr>
    <th>Product</th>
    <th>Base information</th>
    <th>Price</th>
    <th>Seller name</th>
    <th>End time</th>
    <th>Bid</th>
  </tr>
  </thead>
  <tbody>

  <% @auctions.each do |auction| %>
  <% if Time.now < auction.end_time %>
    <tr>
    <td><%= auction.product %></td>
    <td><%= auction.baseinfo %></td>
    <td id = <%="tagID_#{auction.id}"%>  ><%= auction.price %></td>
    <td><%= auction.seller_name %></td>
    <td><%= auction.end_time.strftime("%I:%M:%S %p %B %-d,%Y") %></td>
    <td><%= check_box_tag auction.id%></td>
   </tr>
    <% end %>
  <% end # end auction.each do%>
  </tbody>
</table>
    <% if signed_in? %>
      <div style= "float: right;">
        <%= text_field_tag 'Bidder_email', nil, :placeholder => 'Enter your email...'%><br>
        <div style= "float: right;">
          <%= submit_tag 'Place Bids' , class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
<% end # end form_for %>



