<div class="center">
<%= link_to image_tag("logo0.bmp", alt: "BestBay")%>

</div>
<%= link_to "New Post", new_path, class: "btn btn-success" %>
<%= form_tag '/placeBids' do%>

<table class="table">
  <thead>
  <tr>
    <th>Product</th>
    <th>Base information</th>
    <th>Price</th>
    <th>Seller name</th>
    <th>Start time</th>
    <th>Bid</th>
  </tr>
  </thead>
  <tbody>


  <% @auctions.each do |auction| %>
    <tr>
    <td><%= auction.product %></td>
    <td><%= auction.baseinfo %></td>
    <td id = <%="tagID_#{auction.id}"%>  ><%= auction.price %></td>
    <td><%= auction.seller_name %></td>
    <td><%= auction.start_time %></td>
    <td><%= check_box_tag auction.id%></td>
   </tr>
  <% end # end auction.each do%>
  </tbody>
</table>

    <div style= "float: right;">
    <%= text_field_tag 'Bidder_email', nil, :placeholder => 'Enter your email...'%><br>
    <div style= "float: right;">
    <%= submit_tag 'Place Bids' , class:"btn btn-primary" %>
    </div>
    </div>
<% end # end form_for %>



