<% provide(:title, 'Home') %>
<div class="center">
<%= link_to image_tag("logo0.bmp", alt: "BestBay")%>
</div>

<% if signed_in? %>
  <%= link_to current_user.name, current_user, class: "btn btn-success" %>
  <%= link_to "Sign out", signout_path, method: "delete" ,class: "btn btn-success" %>
<% else %>
  <%= link_to "Sign Up", signup_path, class: "btn btn-success" %>
  <%= link_to "Sign In", signin_path, class: "btn btn-success" %>
<% end %>
<br><br>
<%= form_tag '/addToWatchList' do%>
<table class="table">
  <thead>
  <tr>
    <th>Product</th>
    <th>Base information</th>
    <th>Price</th>
    <th>Seller name</th>
    <th>End time</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @auctions.each do |auction| %>
  <% if Time.now < auction.end_time %>
    <tr>
    <td><%= link_to "#{auction.product}", "/auctions/#{auction.id}" %></td>
    <td><%= auction.baseinfo %></td>
    <td id = <%="tagID_#{auction.id}"%>  ><%= number_to_currency(auction.price) %></td>
    <td><%= auction.seller_name %></td>
    <td><%= auction.end_time.strftime("%I:%M:%S %p %B %-d,%Y") %></td>
    <td><%= check_box_tag auction.id%></td>
   </tr>
    <% end %>
  <% end # end auction.each do%>
  </tbody>
</table>
      <div style= "float: right;">
          <%= submit_tag 'Add to watch list' , class:"btn btn-primary" %>
      </div>
<% end # end form_for %>



