<div class="center">
<%= link_to image_tag("logo0.bmp", alt: "BestBay")%>

</div>
<%= link_to "New Post", new_path, class: "btn btn-success" %>
<table class="table">
  <thead>
  <tr>
    <th>Product</th>
    <th>Base information</th>
    <th>Price</th>
    <th>Seller name</th>
    <th>Start time</th>
    <th>Bid</th>
  </tr>
  </thead>
  <tbody>
  <% @auctions.each do |auction| %>
    <tr>
    <td><%= auction.product %></td>
    <td><%= auction.baseinfo %></td>
    <td><%= auction.price %></td>
    <td><%= auction.seller_name %></td>
    <td><%= auction.start_time %></td>
    <td><% %></td>
   </tr>
  <% end %>
  </tbody>
</table>


<div style="float: right;">
<%= link_to "Submit",'#' ,class: "btn btn-primary" %>
</div>