<% provide(:title, 'New Auction') %>
<div class="center">
<%= link_to image_tag("logo0.bmp", alt: "BestBay")%>
</div>

<div class = "row">
	 <div class = "span6 offset3">
       <h1> Create New Auction </h1>
		<%= form_for(@auction) do |a| %>
           <%= render 'shared/error_messages', object: a.object %>
			<%= a.label :seller_name %>
			<%= a.text_field :seller_name %>
			
			<%= a.label :baseinfo %>
			<%= a.text_field :baseinfo %>
			
			<%= a.label :product %>
			<%= a.text_field :product %>
			
			<%= a.label :price %>
			<%= a.text_field :price %>

			<%= a.label :days %>
			<%= a.text_field :days %>

            <%= a.label :hours %>
            <%= a.text_field :hours %>

            <div><%= a.submit "Submit auction",  class: "btn btn-primary"  %>
                  <%= link_to "Back to auctions",root_path ,class: "btn btn-inverse" %> </div>
		<% end %>
	 </div>
</div>

	
