<% provide(:title, 'New Auction') %>
<div class="center">
<%= link_to image_tag("logo0.bmp", alt: "BestBay")%>
</div>

<div class = "row">
	 <div class = "span6 offset3">
       <h1> Create New Auction </h1>
       <br><br>
		<%= form_for @auction,:html => {:multipart => true}  do |a| %>
           <%= render 'shared/error_messages', object: a.object %>

            <p>
            <%= a.label :product %>
            <%= a.text_field :product %><br>
            </p>

           <p>
			<%= a.label :baseinfo %>
            <%= a.text_area :baseinfo,placeholder: "Describe your product...", :rows => "10" %><br>
           </p>

            <p>
			<%= a.label :price %>
			<%= a.text_field :price %><br>
            </p>
            <p>
			<%= a.label :days %>
			<%= a.text_field :days %><br>
            </p>
            <p>
            <%= a.label :hours %>
            <%= a.text_field :hours %><br>
            </p>
            <p>
            <%= a.label "upload product picture"%>
            <%= a.file_field :photo  %>
            </p>
            <div>
              <br>
              <%= a.submit "Submit auction",  class: "btn btn-primary"  %>
              <%= link_to "Back to Profile", current_user,class: "btn btn-success" %>
            </div>
		<% end %>
	 </div>
</div>

	
