<% provide(:title, @auction.product) %>
<h1>
<%= @auction.product %></h1>

<h2>Description:</h2>
<%=  @auction.baseinfo %> <br>

<h2>Current Price: </h2>
<%= "$ #{@auction.price} " %>   <br>

<h2>End time:</h2>
<%= @auction.end_time %>  <br>

<h2>Current Highest Bidder:</h2>
<%=  @auction.highestBidderEmail %> <br>
    <br>
<br>
<% if signed_in? %>
<%= link_to "Return to Profile", current_user, class: "btn btn-success" %>
<%= link_to "Return to Browsing", root_path, class: "btn btn-success" %>
<% else %>
<%= link_to "Return to Browsing", root_path, class: "btn btn-success" %>
<% end %>


