<% provide(:title, @auction.product) %>

<div style= "float: right;">
  <% if signed_in? %>
      <%= link_to current_user.name, current_user, class: "btn btn-success" %>
  <% end %>
  <%= link_to "Auctions", root_path, class: "btn btn-inverse" %>
</div>

<div style= "float: left;">
<h1><%= @auction.product %></h1>

<h2>Description:</h2>
<%=  @auction.baseinfo %> <br>

<h2>Current Price: </h2>
<%= "$ #{@auction.price} " %>   <br>

<h2>End time:</h2>
<%= @auction.end_time %>  <br>

<h2>Current Highest Bidder:</h2>
<% if  @auction.highestBidderEmail.nil? %>
  <%= "No one bid on this auction currently" %>
<% else %>
  <%=  @auction.highestBidderEmail %>
<% end %>
<br><br>
<% if signed_in? %>
 <% if @auction.user_id != current_user.id %>
  <!-- form_tag placeBid_path(:auction_id => @auction.id) do  -->
  <%= form_tag :controller => "auctions", :action => "placeBid",
      :auction_id => @auction.id  do %>
    <%= label_tag  '$' %>
    <%= number_field_tag(:amount, 1, { :min => 1 }) %>
    <br>
    <%= submit_tag 'Place Bid' , class:"btn btn-primary" %>
  <% end %>
 <% end %>
<% end %>
</div>

