<% provide(:title, 'Update Profile') %>
<div class="center">
  <%= link_to image_tag("logo0.bmp", alt: "BestBay")%>
</div>
<div class="row">
  <div class="span6 offset3">
    <h1>Update your profile</h1>
    <br><br><br>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object:f.object %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
        <div>
          <%= f.submit "Save changes", class: "btn btn-primary" %>
          <%= link_to "Back to Profile", current_user,class: "btn btn-success" %>
        </div>
    <% end %>
  </div>
</div>