<!DOCTYPE html>
<html>
<head>
  <title>BestBay | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--MOVE THIS TO A PROPER STYLESHEET (JWA) -->
  <STYLE type="text/css">
      h1 {font-size:250%;}
      h2 {font-size:100%;}
  </STYLE>


</head>
<body>
<div class= "container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
