<!DOCTYPE html>
<html>
<head>
  <title>BestBay | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--MOVE THIS TO A PROPER STYLESHEET (JWA) -->
  <STYLE type="text/css">
      h1 {font-size:250%;}
      h2 {font-size:100%;}
  </STYLE>
</head>

<body>
<div id="wrapper">
 <div id="content_wrapper" class= "container">
   <div id="content_inner_wrapper">
   <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
    </div>
   </div>
 </div>
</div>

<div id="footer+wrapper" align = "center">
  <div id="footer_inner_wrapper">
  Thanks for checking out our site.<br>
  Designed as part of 18-642 at Carnegie Mellon University.<br>
  The team consists of:<br>
  Alekhya Gampa<br>
  <%= link_to('Hao Yao', "https://github.com/haoy") %><br>
  <%= link_to('Jason Atwood', "http://tir38.com") %>    <br>
    <br>
   Check out our  <%= link_to "git repo", 'https://github.com/cmusv/Fall-2012-18642-TfIV'%>
  and <%= link_to "build status", 'http://build.sv.cmu.edu:3000/projects/TflV'%>
  </div>
</div>
</body>
</html>
